<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Admin.master.cs" Inherits="suitespk.Admin" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <script>


        if (localStorage["username"] == "" || localStorage["username"] == null) {
            window.location.href = "../Default.aspx";
        }



    </script>

    <title>DPBOSS.AD</title>
    <!-- App favicon -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Responsive bootstrap 4 admin template" name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <script src="../assets/js/jquery.min.js"></script>

    <!-- App favicon -->

    <!-- third party css -->
    <link href="assets/libs/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- App css -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="assets/css/sweetalert.min.css" />

    <link rel="stylesheet" href="assets/css/toastr.min.css" />
    <link href="assets/libs/select2/css/select2.min.css" rel="stylesheet" />
    <script src="../assets/webcam.min.js"></script>
    <link href="assets/custom.css" rel="stylesheet" />

    <link rel="icon" type="image/png" href="~/Webimages/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="~/Webimages/favicon.svg" />
    <link rel="shortcut icon" href="~/Webimages/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/Webimages/apple-touch-icon.png" />
    <script>
        function hideNavbarOnMobile() {
            if (window.matchMedia("(max-width: 768px)").matches) {
                $('.hideformobile').hide();
            } else {
                $('.hideformobile').show();
            }
        }

        hideNavbarOnMobile();
        $(window).on('resize', hideNavbarOnMobile);
        var url = "/"

        CheckUserPagePermission()

        function dateFormatChangedmyWithMonthName(date) {
            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
            ];
            var dateAr1 = date.split('-');
            return dateAr1[2] + '-' + monthNames[dateAr1[1] - 1] + '-' + dateAr1[0];
        }
        function removenullvalue(data) {
            if (data == "" || data == "null" || data == null || data == "undefined") {
                data = "";
            }
            return data;
        }



        function getCurrnetdatetime() {
            let date_ob = new Date();

            // adjust 0 before single digit date
            let date = ("0" + date_ob.getDate()).slice(-2);

            // current month
            let month = ("0" + (date_ob.getMonth() + 1)).slice(-2);

            // current year
            let year = date_ob.getFullYear();

            // current hours
            let hours = date_ob.getHours();

            // current minutes
            let minutes = date_ob.getMinutes();

            // current seconds
            let seconds = date_ob.getSeconds();

            // prints date & time in YYYY-MM-DD HH:MM:SS format
            return (year + "-" + month + "-" + date + " " + hours + ":" + minutes + ":" + seconds);
        }


        var date = new Date();
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;
        var today = year + "-" + month + "-" + day;

        var FirstDateYear = new Date(new Date().getFullYear(), 0, 1);
        var day = FirstDateYear.getDate();
        var month = FirstDateYear.getMonth() + 1;
        var year = FirstDateYear.getFullYear();
        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;
        FirstDateYear = year + "-" + month + "-" + day;

        var puopmodelopen = "false";
        $(document).ready(function () {
            GetRolePermissionpages()

            $('.cLsSuperAdmin').hide()
            $('.clssimpleadmin').hide()
            $('.ClsOtherUser').hide()
            //Translation();
            $("#txtDateFrom").attr("value", today);
            $("#txtDateTo").attr("value", today);
            $("ul").removeClass("metismenuCls");
            $('#txtinput').focus();
            $(document).on('click', '.signOut', function () {
                localStorage.clear();
                signOut();
            });

            $('.clsSpanUserName').html(localStorage["username"]);

            $(".select2_single").select2({
                placeholder: "",
                allowClear: true
            });

        });
        function GetRolePermissionpages() {


            if (!(localStorage['chk'] == "true")) {

                $.ajax({
                    headers: {
                        "Authorization": localStorage["access_token"]
                    },
                    url: url + "api/GetRolePermission",
                    async: false,
                    method: 'GET',
                    dataType: 'json',
                    success: function (data) {



                        localStorage['moduleNames'] = JSON.stringify(data);
                        localStorage['chk'] = "true";
                    },
                    error: function (jqXHR, exception) {
                        msg = 'Internal Server Error [500].';
                        swal({
                            type: 'error',
                            title: 'Oops...',
                            text: msg,
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
                });

            }

            $('.Dynamicnavigationmenu').empty();
            $('.Dynamicnavigationmenu').append('<li class="menu-title clstNavTitle" style="color: #fff">Navigation</li>');
            $(JSON.parse(localStorage['moduleNames'])).each(function (index, infostd) {
                if (infostd.module_nestted_list == true) {
                    $('.Dynamicnavigationmenu').append('<li class=""> <a href="javascript: void(0);" class="waves-effect"> <i class="' + infostd.module_icon + '"></i> <span class="clstHome">' + infostd.module_name + ' </span> <span class="menu-arrow"></span> </a> <ul class="nav-second-level"  id="nestedlistindex' + index + '">  </ul> </li>')
                    $(infostd.permission_pages).each(function (index2, infostd2) {
                        $('#nestedlistindex' + index).append('<li><a href="' + infostd2.page_url + '">' + infostd2.page_name + ' </a></li>')
                    });
                }
                else {
                    $('.Dynamicnavigationmenu').append('<li class=""> <a href="' + infostd.module_URL + '" class="waves-effect"> <i class="' + infostd.module_icon + '"></i> <span class="">' + infostd.module_name + '</span> </a> </li>')
                }
            });
        }

        function CheckUserPagePermission() {

            $.ajax({
                headers: {
                    "Authorization": localStorage["access_token"]
                },
                url: url + "api/CheckUserPagePermission?PageUrl=" + window.location.pathname,
                async: false,
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data == "false") {
                        window.location.href = '/permission_denied.html';
                    }
                },
                error: function (jqXHR, exception) {
                    msg = 'Internal Server Error [500].';
                    swal({
                        type: 'error',
                        title: 'Oops...',
                        text: msg,
                        showConfirmButton: false,
                        timer: 2000
                    });
                }
            });
        }



    </script>
    <script src="../assets/myJquery.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet" type="text/css" />
    <link href="assets/mycss.css" rel="stylesheet" />

    <style>
        .table thead th {
            font-size: 19px !important;
            font-weight: 600;
        }

        .table td, .table th {
            font-family: auto !important;
            border: 1px solid #928e8e;
        }
    </style>
    <style>
        table tfoot tr td {
            font-size: 24px !important;
        }

        .select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
            background-color: #3eb4fad9;
            color: #000000;
        }

        .select2-container--default .select2-selection--single {
            background-color: #3eb4fad9 !important;
            color: #000000;
        }

            .select2-container--default .select2-selection--single .select2-selection__rendered {
                font-size: 23px !important;
            }

        .select2-results__option {
            font-size: 20px !important;
        }

        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            background-color: #3eb4fad9 !important;
            color: #000000 !important;
        }

        .nav-user img {
            height: 50px;
            width: 55%;
            margin-top: 2%;
        }

        @media (max-width: 768px) {
            .hideformobile {
                display: none !important;
            }

            .navbar-custom {
                background-color: #ffffff !important;
            }
        }
    </style>
    <!-- App css -->
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <!--Jquery plugin-->
</head>
<body>

    <div class="navbar-custom">
        <ul class="list-unstyled topnav-menu float-right mb-0 hideformobile">

            <%--    <li class="dropdown  d-lg-block">
             
                <a id="clsSelectedLang" class="nav-link dropdown-toggle mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <img src="../assets/images/flags/us.jpg" alt="user-image" class="mr-2" height="12" />
                    <span class="align-middle ">English <i class="mdi mdi-chevron-down"></i></span>
                </a>
              
            </li>--%>
            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <img src="/img/logo2.png" alt="user-image" class="rounded-circle">
                    <span class="pro-user-name ml-1 clsSpanUserName"><i class="mdi mdi-chevron-down"></i>
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                    <div class="dropdown-divider"></div>
                    <a href="javascript:void(0);" class="dropdown-item notify-item signOut">
                        <i class="mdi mdi-logout-variant signOut"></i>
                        <span class="signOut">Log Out</span>
                    </a>
                </div>
            </li>

        </ul>

        <!-- LOGO -->
        <div class="logo-box hideformobile">
            <a href="#" class="logo text-center logo-dark">
                <span class="logo-lg">
                    <img src="/img/logo2.png" style="width: 100%;" />
                </span>
                <span class="logo-sm">
                    <img src="/img/logo2.png" alt="" style="width: 100%;" height="" />
                </span>
            </a>

            <a href="#" class="logo text-center logo-light">
                <span class="logo-lg">
                    <img src="/img/logo2.png" alt="" style="width: 100%;" height="" />
                </span>
                <span class="logo-sm">
                    <img src="/img/logo2.png" alt="" style="width: 100%;" height="" />
                </span>
            </a>
        </div>

        <!-- LOGO -->


        <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
            <li>
                <button class="button-menu-mobile waves-effect">
                    <i class="mdi mdi-menu"></i>

                </button>

            </li>


        </ul>
    </div>

    <!--left sidebar-->
    <div class="left-side-menu">

        <div class="slimscroll-menu">

            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <ul class="metismenu metismenuCls Dynamicnavigationmenu" id="side-menu">
                </ul>
            </div>
            <!-- End Sidebar -->
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -left -->
    </div>
    <!--end left sidebar-->
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div style="color: #4f4f51" class="col-md-12">
                    Developed By DPBoss Copyright © <%: DateTime.Now.Year %>
                </div>
            </div>
        </div>
    </footer>
    <script src="/assets/js/vendor.min.js"></script>
    <!-- Required datatable js -->
    <script src="/assets/libs/jquery-scrollto/jquery.scrollTo.min.js"></script>
    <script src="/assets/libs/sweetalert2/sweetalert2.min.js"></script>
    <!-- Vendor js -->
    <script src="/assets/libs/toastr/toastr.min.js"></script>
    <script src="/assets/js/app.min.js"></script>
    <script src="../assets/libs/select2/js/select2.min.js"></script>
</body>
</html>
