
:root {
    --main: #fdf0cf;
    --divback: #ffe7ac;
    --border: #E7C484;
    --text: #000;
    --accent: #55463D;
}

body {
    background: var(--main);
    margin: 72px 0 110px 0;
    padding: 0;
    color: var(--text);
    font-family: verdana;
    font-size: 16px;
    overflow-x: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease
}

p {
    padding: 10px
}

.hidden {
    display: none !important
}

a {
    color: var(--text);
    text-decoration: none
}

.h1, .h2, .h3, .h4 {
    margin-top: 10px;
    margin-bottom: 10px
}

h1 {
    font-size: 180%
}

.subtext {
    font-size: 80%;
    color: var(--border)
}

.smallgrey {
    font-size: 90%;
    color: gray
}

img {
    max-width: 100%
}

.jumbotron {
    background: none;
    padding: 20px 0
}

.cpad {
    padding-left: 8px;
    padding-right: 8px
}

.card {
    background: var(--divback);
    border-radius: 20px;
    height: auto;
    margin: 20px auto;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px rgba(0,0,0,.24)
}

.card-pad {
    padding: 20px 15px !important
}

a:hover, a:active, a:focus {
    text-decoration: none
}

.top-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.26)
}

.block {
    display: block;
    overflow: hidden
}

.jchartdiv:hover, .pchartdiv:hover, .forum:hover {
    background: var(--main)
}

.iblock {
    display: inline-block
}

#login {
    max-width: 400px;
    margin: auto
}

.btn-c, .btn-c:hover, .btn-c:active, .btn-c:focus, .list-group-item .active {
    color: var(--divback);
    background: var(--accent) !important;
    border-radius: 20px;
    padding: 15px 25px 15px 25px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
    border: 1px solid var(--accent)
}

.list-group-item.active {
    border-color: var(--accent) !important
}

.active {
    background: var(--accent) !important;
    color: var(--text) !important
}

    .active:hover {
        background: var(--accent) !important;
        color: var(--text) !important
    }

td {
    padding: 5px 10px;
    box-sizing: border-box
}

@media(max-width:767px) {
    td {
        padding: 5px
    }

    .clabel {
        padding: 0 15px;
        margin-right: 5px
    }

    .mtmar {
        margin-top: 20px;
        overflow: hidden;
        box-sizing: border-box
    }
}

@media(min-width:768px) {
    .ptpad {
        padding-top: 28px
    }
}

.grid-4 {
    width: calc(50% - 20px);
    margin: 10px
}

.tpad {
    padding: 10px 0;
    overflow: hidden;
    box-sizing: border-box
}

.tpad-5 {
    padding: 5px 0;
    overflow: hidden;
    box-sizing: border-box
}

.tmar {
    margin: 10px 10px !important;
    overflow: hidden;
    box-sizing: border-box
}

.tmar-big {
    margin-top: 30px !important;
    overflow: hidden;
    box-sizing: border-box
}

.clabel {
    padding: 0 10px
}

th {
    text-align: center !important
}

.btn-mar {
    margin-top: 6px
}

.l {
    float: left
}

.r {
    float: right
}

.clr {
    clear: both
}

.big {
    font-size: 125% !important
}

.lbig {
    font-size: 175% !important;
    padding: 10px
}

.ebig {
    font-size: 200%
}

.small {
    font-size: 75%
}

.bold {
    font-weight: 700
}

.text-center {
    text-align: center
}

.imp {
    color: var(--accent)
}

.tblack {
    color: var(--main)
}

.tgreen {
    color: #4caf50
}

.tred {
    color: #DC143C
}

.tblue {
    color: var(--accent)
}

.twhite {
    color: var(--text)
}

.twater {
    color: #2389da
}

.ftype-title {
    border-bottom: 1px solid var(--border)
}

.ftype-bottom {
    background: #f5f5f5;
    cursor: pointer
}

.pointer {
    cursor: pointer
}

.text-right {
    text-align: right
}

.signup, .login, .goal, .account {
    max-width: 900px;
    padding: 30px 8px 50px 8px
}

@media(max-width:767px) {
    .signup, .login, .goal, .account {
        padding: 30px 8px 50px 8px
    }

    .ac-usr-det {
        padding: 50px 15px !important
    }

    .font-normal {
        font-size: inherit !important
    }

    .tbl-container {
        width: 100%;
        overflow-x: auto;
        font-size: 80%
    }
}

@media print {
    .no-print, .no-print * {
        display: none !important
    }
}

.ptopdiv {
    border: 1px solid var(--border);
    background: var(--divback);
    color: var(--text);
    padding: 10px
}

.pdowndiv {
    border: 1px solid var(--border);
    background: var(--divback);
    padding: 10px
}

.livecontainer {
    background: var(--divback);
    color: var(--text);
    padding: 5px;
    border: 1px solid var(--border)
}

.livediv {
    background: var(--divback);
    padding: 10px;
    color: var(--text)
}

.refbtn {
    outline: none;
    background: var(--accent);
    color: var(--divback);
    padding: 5px;
    border: none;
    border-radius: 5px
}

.refbtn-big {
    outline: none;
    background: var(--accent);
    color: var(--text);
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 125%
}

.rescontainer {
    outline: none;
    background: var(--divback);
    color: var(--text);
    padding: 4px;
    border: 1px solid var(--border);
    border-radius: 20px
}

.ttcontainer {
    background: var(--divback);
    border: 1px solid var(--border)
}

.table {
    width: 100%;
    border: 1px solid var(--border)
}

/*td, th {
    border: 1px solid var(--border)
}*/

.jchart {
    background: var(--divback);
    border: 1px solid var(--border)
}

.jchartdiv {
    background: var(--divback);
    border-bottom: 1px solid var(--border)
}

.jchart a, .pchart a {
    color: var(--text)
}

.pchart {
    background: var(--divback);
    border: 1px solid var(--border)
}

.pchartdiv {
    background: var(--divback);
    border-bottom: 1px solid var(--border)
}

.form-c {
    background: var(--divback);
    width: calc(100% - 20px);
    height: 30px;
    border: 1px solid var(--border);
    padding: 5px
}

.fpost {
    background: var(--divback);
    border: 1px solid var(--border);
    border-radius: 20px;
    padding: 10px
}

textarea {
    color: var(--text);
    height: 100px !important;
    width: 100% !important;
    box-sizing: border-box
}

.forum-div {
    background: var(--main);
    border: 1px solid var(--border);
    border-radius: 20px;
    margin: 5px
}

.fposttitle {
    background: var(--divback);
    border-bottom: 1px solid var(--border);
    padding: 8px
}

.forum-div-bottom {
    background: var(--divback);
    border-top: 1px solid var(--border);
    padding: 8px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.forum-post {
    background: var(--divback);
    padding: 10px
}

.pre {
    white-space: pre-wrap;
    word-wrap: break-word
}

.pagination {
    text-align: center;
    padding: 15px
}

    .pagination a {
        color: var(--divback);
        background: var(--accent);
        font-size: 110%;
        font-weight: 600;
        padding: 10px;
        margin-right: 10px
    }

    .pagination .imp {
        color: var(--divback);
        background: var(--text)
    }

.chart {
    background: var(--divback);
    padding: 3px
}

    .chart table {
        width: 100%;
        border-collapse: collapse;
        overflow-x: auto
    }

        .chart table td {
            border: 1px solid var(--border)
        }

.table {
    background: var(--divback);
    border-collapse: collapse
}

    .table th {
        font-weight: 700;
        padding: 10px
    }

.pad {
    padding: 10px
}

.md-header {
    background-color: var(--divback);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3)
}

.material-icons {
    font-size: 32px !important
}

.md-header .md-search-bar {
    display: flex;
    align-items: center;
    margin: 0 15px
}

    .md-header .md-search-bar.focus .md-search-bar-input {
        max-width: 999px
    }

.md-header .md-search-bar {
    padding: 0 15px
}

    .md-header .md-search-bar i.material-icons {
        color: var(--text)
    }

        .md-header .md-search-bar i.material-icons:hover {
            cursor: pointer
        }

    .md-header .md-search-bar .md-search-bar-input {
        display: flex;
        align-items: center;
        position: relative;
        max-width: 0;
        overflow: hidden;
        transition: 0.4s ease
    }

        .md-header .md-search-bar .md-search-bar-input input.md-input-text {
            border: none;
            font-size: 1em;
            outline: none;
            background-color: transparent;
            color: var(--text);
            padding: 8px 0
        }

            .md-header .md-search-bar .md-search-bar-input input.md-input-text::-webkit-input-placeholder {
                color: var(--text)
            }

            .md-header .md-search-bar .md-search-bar-input input.md-input-text:focus + .md-bar:after {
                left: 0;
                width: 100%
            }

        .md-header .md-search-bar .md-search-bar-input .md-bar {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: var(--divback);
            width: 100%;
            height: 1px
        }

            .md-header .md-search-bar .md-search-bar-input .md-bar:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 75%;
                background-color: var(--divback);
                width: 0;
                height: 2px;
                transition: 0.4s ease
            }

.md-header .nav-left, .md-header .nav-right {
    display: flex;
    flex-direction: row;
    align-items: center
}

    .md-header .nav-left a, .md-header .nav-right a, .md-header .nav-bar, .md-header .brand {
        color: var(--text);
        font-weight: bold;
    }

        .md-header .nav-bar:hover {
            cursor: pointer
        }

        .md-header .nav-bar .material-icons {
            padding: 15px
        }

.md-header .brand {
    padding: 0
}

.md-header .nav-mobile {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 20;
    background-color: var(--divback);
    width: 75%;
    height: 100%;
    transition: 0.4s ease
}

    .md-header .nav-mobile ul.nav-mobile-list {
        list-style: none
    }

        .md-header .nav-mobile ul.nav-mobile-list li.divider {
            border-bottom: 1px solid rgba(0,0,0,.2)
        }

        .md-header .nav-mobile ul.nav-mobile-list li a {
            display: flex;
            align-items: center;
            text-decoration: none;
            padding: 15px 15px;
            color: var(--text)
        }

            .md-header .nav-mobile ul.nav-mobile-list li a:hover, .md-header .nav-mobile ul.nav-mobile-list li a:focus {
                background-color: rgba(0,0,0,.1)
            }

            .md-header .nav-mobile ul.nav-mobile-list li a .material-icons {
                margin-right: 20px
            }

.md-header .nav-mobile-shadow {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease
}

.md-header.active .nav-mobile {
    left: 0
}

.md-header.active .nav-mobile-shadow {
    opacity: 1;
    visibility: visible
}

ul {
    padding-inline-start: 5px !important
}

.nav-bottom {
    background-color: #000000;
    color: var(--accent);
    text-align: center;
    position: fixed;
    width: 100% !important;
    bottom: 0;
    z-index: 10;
    height: 50px;
    font-size: 125%
}

    .nav-bottom a {
        color: wheat;
        text-decoration: none
    }

.nav-grid {
    width: 25%;
    box-sizing: border-box
}

.wave {
    position: relative
}

    .wave:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: -webkit-radial-gradient(circle,#353434 10%,transparent 10.01%);
        background-image: -o-radial-gradient(circle,#353434 10%,transparent 10.01%);
        background-image: radial-gradient(circle,#353434 10%,transparent 10.01%);
        background-repeat: no-repeat;
        -webkit-background-size: 1000% 1000%;
        background-size: 1000% 1000%;
        background-position: 50%;
        opacity: 0;
        pointer-events: none;
        -webkit-transition: background .5s,opacity 1s;
        -o-transition: background .5s,opacity 1s;
        transition: background .5s,opacity 1s
    }

    .wave:active:after {
        -webkit-background-size: 0 0;
        background-size: 0 0;
        opacity: .2;
        -webkit-transition: 0s;
        -o-transition: 0s;
        transition: 0s
    }

    .wave a {
        display: block
    }

.l {
    float: left
}

.r {
    float: right
}

.clr {
    clear: both
}

.top-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000
}

.red {
    color: red
}

.green {
    color: green
}

.card .material-icons {
    font-size: 24px !important
}

.highlight {
    font-size: 200%;
    color: var(--accent)
}

.admob {
    background-color: var(--divback);
    position: fixed;
    bottom: 50px;
    z-index: 2;
    width: 100%;
    height: 50px !important;
    overflow: hidden;
    box-shadow: 0 0 0 rgba(0,0,0,.16),0 -1px 5px rgba(0,0,0,.16)
}

.support {
    position: fixed;
    bottom: 100px;
    right: 10px;
    background: url(../assets/support.svg)no-repeat #fff;
    height: 64px;
    width: 64px;
    z-index: 11;
    border-radius: 50%
}

::-webkit-scrollbar-thumb {
    background: #5949b3;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* CSS */
.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}

    .button:focus {
        box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        outline: 0;
    }

.mainhanding {
    font-size: 21px;
    font-weight: 900;
    color: darkslateblue;
}

.mainhanding {
    text-transform: uppercase;
    background-image: linear-gradient( -225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100% );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}


:root {
    --point-color: #555;
    --size: 3px;
}

.loader {
    background-color: var(--main-color);
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 100000;
}

.loader__element {
    border-radius: 100%;
    border: var(--size) solid var(--point-color);
    margin: calc(var(--size)*2);
}

    .loader__element:nth-child(1) {
        animation: preloader .6s ease-in-out alternate infinite;
    }

    .loader__element:nth-child(2) {
        animation: preloader .6s ease-in-out alternate .2s infinite;
    }

    .loader__element:nth-child(3) {
        animation: preloader .6s ease-in-out alternate .4s infinite;
    }

@keyframes preloader {
    100% {
        transform: scale(2);
    }
}


@import url("https://fonts.googleapis.com/css?family=Raleway:400");

* {
    box-sizing: border-box;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
}

@property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
}

@property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
}

:root {
    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgb(89 8 34);
    --c2: rgb(189 144 144 / 10%);
}



.maindiv {
    font-size: 3vw;
    margin: max(1rem, 3vw);
    border: 0.35rem solid;
    padding: 3vw;
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
    animation: borderRotate var(--d) linear infinite forwards;
}

    .maindiv:nth-child(2) {
        border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
        animation: borderRadial var(--d) linear infinite forwards;
    }

@keyframes borderRotate {
    100% {
        --angle: 420deg;
    }
}

@keyframes borderRadial {
    20% {
        --gradX: 100%;
        --gradY: 50%;
    }

    40% {
        --gradX: 100%;
        --gradY: 100%;
    }

    60% {
        --gradX: 50%;
        --gradY: 100%;
    }

    80% {
        --gradX: 0%;
        --gradY: 50%;
    }

    100% {
        --gradX: 50%;
        --gradY: 0%;
    }
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts.woff2) format('woff2')
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased
}

.single-draw .icon img {
    height: 182px !important;
}

.single-draw h4 {
    font-size: 19px !important;
}